<div class="main">
  <div class="main-content-about">
    <p>  <b>Vani-security</b> is a newly established company looking to work primarily with jewelleries and high level retail stores. The guards of our company are carefully selected, picked according to the clients liking and are continuosly monitored and assisted in their service to the client.</p>

    <p>  <b>The managing director (Edvinas Janusauskas)</b> have gathered sumptuous experience in the security field both within and without retail environment for the past five years and is looking to increasingly apply himself in the administrational side of it.</p>

    <p>  <b>Vani-security</b> being a newly established company is looking to benefit it's first customers with extra care and prices starting bellow the market value. Thus, now is the best time to establish a professional relationship between our companies.</p>
  </div>
</div>
