<div class="main">
  <div class="main-content-contact">
    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +44 (0) 7716403158</p>
    <p><i class="fa fa-envelope"></i>&nbsp; info@vani-security.co.uk</p>
  </div>
</div>

