<div class="banner">
  <div class="banner-content">
    <%= image_tag "icon.png" %>
    <h1>VANI</h1>
    <p>Security Services</p>
  </div>
</div>

<!-- url('https://static.pexels.com/photos/460672/pexels-photo-460672.jpeg');"> -->

