<div class="navbar-vani">
  <!-- Logo -->
  <a href="/" class="navbar-vani-brand">

  <!-- Right Navigation -->
  <div class="navbar-vani-right hidden-xs hidden-sm">

    <a href="" class="navbar-vani-item navbar-vani-link">Home</a>
    <a href="" class="navbar-vani-item navbar-vani-link">About</a>
    <a href="" class="navbar-vani-item navbar-vani-link">Services</a>
    <a href="" class="navbar-vani-item navbar-vani-link">Careers</a>
    <a href="" class="navbar-vani-item navbar-vani-link">News</a>
    <a href="" class="navbar-vani-item navbar-vani-link">Contact us</a>


  </div>
  <div class="navbar-vani-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-vani-dropdown-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://static.pexels.com/photos/460672/pexels-photo-460672.jpeg');">
  <div class="banner-content">
    <%= image_tag "icon.png" %>
    <h1>VANI</h1>
    <p>Security Services</p>
  </div>
</div>
