<div class="main">
  <div class="main-content-services">
    <p><b>Vani-security</b> is dealing primarily with jewelleries and high level retail stores but feel free to contact us with any other requests and we will definitely take time to take them into consideration.</p>
  </div>
</div>
